<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="UserRepository" class="ua.epam.spring.hometask.repository.impl.UserRepositoryImpl"/>

    <bean id="UserService" class="ua.epam.spring.hometask.service.impl.UserServiceImpl">
        <property name="userRepository" ref="UserRepository"/>
    </bean>

</beans>